@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #f5f5f7;
}

header {
  width: 1240px;
  background-color: #f5f5f7;
  height: 72px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: inline-block;
  text-align: center;
  width: 749px;
  height: 29px;

  ul {
    li {
      display: inline-block;

      a {
        font-size: 24px;
        color: black;
        margin-right: 25px;
      }
    }
  }
}
.logo {
  display: inline-block;
  background-color: #f0edff;
  width: 152px;
  height: 50px;
  text-align: center;
  color: blueviolet;
  font-size: 24px;
  font-weight: 700;
  margin: 11px 83px 11px 12px;
}

.logo a {
  width: 110px;
  height: 29px;
  display: inline-block;
  padding: 11px 19px 10px 23px;
}

.main-banner {
  width: 1920px;
  height: 400px;
  background-image: url("./assets/22.png");
}

.banner-content {
  padding: 131px 455px 150px 490px;
}

.main-banner h1 {
  color: #ffffff;
  width: 975px;
  height: 58px;
  font-size: 48px;
  font-weight: 700;
}

.main-banner h5 {
  width: 641px;
  height: 24px;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  padding-top: 37px;
  padding-left: 139px;
}

section h2 {
  width: 351px;
  height: 44px;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
  margin-top: 45px;
  margin-left: 769px;
}

.card {
  display: inline-block;
  width: 360px;
  height: 465px;

  > img {
    display: inline-block;
    width: 360px;
    height: 240px;
  }

  span {
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    color: #000000;
  }

  > h3 {
    font-size: 22px;
    font-weight: 600;
  }

  > p {
    font-size: 15px;
    font-weight: 400;
  }
}

.text-content {
  width: 322px;
  height: 200px;
  margin: 15px 19px;
}

/* .date {
  margin: 15px 28px;
}

.author {
  margin: 15px 48px 184px 95px;
} */

.author {
  margin-left: 25px;
  margin-bottom: 15px;
}

.first-card {
  margin-top: 49px;
  margin-left: 428px;
}

.second-card {
  margin-top: 56px;
  margin-left: 29px;
}

.third-card {
  margin-top: 56px;
  margin-left: 29px;
}

footer {
  width: 1920px;
  height: 393pxpx;
  background-color: #252424;
}

.main-footer {
  width: 1240px;
  height: 338px;
  /* margin-left: 428px; */
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background-color: #252424;

  h4 {
    font-size: 20px;
    font-weight: 600;
  }

  p {
    color: #a1a1a6;
    font-size: 14px;
    font-weight: 400;
  }

  a {
    color: #a1a1a6;
    font-size: 14px;
    font-weight: 600;
  }
}

#techblog-box {
  display: inline-block;
  margin-top: 57px;
  margin-left: 24px;
  text-align: left;

  > p {
    width: 296px;
    height: 68px;
    margin-top: 11px;
  }
}

#categories-box {
  display: inline-block;
  vertical-align: top;
  margin-left: 82px;
  margin-top: 54px;

  > ul {
    margin-top: 14px;

    > li {
      margin-top: 11px;
    }
  }
}

#contact-box {
  display: block;
  margin-left: 24px;

  > a {
    display: block;
    margin-top: 11px;
  }
}

#mini-footer {
  width: 1920px;
  height: 55px;
  background-color: #020202;
  color: #86868b;
  text-align: center;

  > span {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    width: 281px;
    height: 16px;
    margin-top: 20px;
  }
}
